.button {
    transition-duration: 0.4s;
    display: inline-block;
    height: 1cm;
    width: 3cm;
    border-color: black;
}
.button:hover {
    display: inline-block;
    background-color: lightblue;
    height: 1cm;
    width: 3cm;
}
.button1 {
    transition-duration: 0.4s;
    display: inline-block;
    height: 3cm;
    width: 5cm;
    border-color: goldenrod;
    border-width: 5px;
}
.button1:hover {

    background-color: goldenrod;
    height: 3cm;
    width: 5cm;
    border-width: 5px;

}
.button2 {
    transition-duration: 0.4s;
    display: inline-block;
    height: 3cm;
    width: 5cm;
    border-color: orange;
    border-width: 5px;
}
.button2:hover {
    display: inline-block;
    background-color: orange;
    height: 3cm;
    width: 5cm;
    border-width: 5px;

}
.productbutton {
    display:block;
    padding:10px;
    text-align:center;
}
.middlesummary {
    padding:25px;
    text-align:center;
    margin:auto;
    position: relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:50%;
    height:80%;
}